body{
    background-color: black;
    color : lightgray;
}

header{
    text-align:center;
}


h1{
    margin : auto;
    color:lightgray;
    background-image: url('banniere.jpg');
    background-repeat : no-repeat;
    background-position: center;
    height: 70px;    
}

#canvas{
    border-width :2px;
    border-style : dotted;

}


#main{display : none;
    
}

form{
    text-align :center;
}
form li {
    list-style: none;
}

form button{
    width : 20vw;
    font-size : 1.5em;
}

#choix_perso {
    text-align : center ;
    }

#choix_perso{
    font-size : 2em;
}

#carac_perso{display : flex;
justify-content :space-evenly;
list-style:none;
border-style :dotted;
border-radius : 20px;
background-color:gray;
color :yellow;
}

#story{
    margin-left:5vw;
    margin-right : 5vw;
}
#choices{
    border-style:groove;
    border-radius :20px;
    padding-left : 5vw;
}

#choices button{
    
color: #000;
  background-color: #fff;
  border: none;
  font-size :1.2em;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
    padding-left :10px;
    padding-right: 10px
}
#choices button:hover{
    background-color:lightgreen;
     box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateX(5px);
}