h1{color : red;}
.md-header{
	background-image : url("assets/logo.png");
	background-size : auto 50px;
	background-repeat : no-repeat;
	background-position : center;
	min-height : 50px;
	}
	
.md-search_form{
	
}

.imagepng{
	background-color : white;
	margin : auto;
}
