@font-face {
	font-family: "Steamwheel";
	src: url('Steamwheel.otf');
}


.container{
  font-family : Impact, Charcoal, sans-serif;
  margin-left : 10%;
  margin-right : 10%;
  display : flex;
  justify-content: center;
}

.digit{
  border-width : 3px;
   background-color :gray ;
  border : solid;
  border-color : lightgray;
  color : lightgreen;
  font-size : 50px;
  width : 70px;
  min-width : 70px;
  text-align:center;
}
.roll{
  background-color : lightgreen;
  color : gray;
  width : 30px;
  font-size : 50px;
  border-width : 1px;
  border : groove;
  margin-top: 2px;
  margin-bottom : 2px;
  text-align : center;
}

#reset{
  text-align : center;
  font-size : 30px;
  margin-top : auto;
  margin-bottom : auto;
  background-color: lightgreen ;
  color:gray;
  border-width : 2px ;
  border-style : double;
  
  
  
}
#setSpeed{
	width : 3em;
}
#set{
	text-align : center;
	display : none;
}
.texte{
  color :lightgreen;
  text-shadow: 4px 3px gray;
  display : block ;
  font-family : Steamwheel;
  font-size : 50px;
  
}

#roue_bin,#roue_hexa{
display : none;
}