body{
    background-color: black;
    color: antiquewhite;
}

#curiosity{
    
	max-height : 400px;
	min-height : 400px;
    display : block ;
    margin: auto;
}

#photo_info{
	text-align : center;
}


#form_container{
    display: flex;
	flex-direction : row ;
	width : 400px ;
	margin : auto;
   
}

#form_container>button{ 
	min-width : 100px;
	flex: 1 1 auto;
}

#form_container>input{ 
	flex: 1 1 auto;
}