#main_game{
  display : flex;
  text-align : center;
}

.zone{
  flex : 1 1;
  tex-align: center;
}
.clicker{
  
  width : 40vw;
  height : 30vh;
  opacity: 0.5;
}
#red{
  background-color : red;
  
}

#blue{
  background-color : blue;
}

#yellow{
  background-color : yellow;
}

#green{
  background-color : green;
  
}



